html, body{
    height: 100%;
    width: 100%;
}
.container{
    width: 1170px;
}
.header{
    height: 100%;
    width: 100%;
    background: url("../img/shop-bg.png") center center;
    background-size: 100% auto;
}
.header-nav{
    height: 47px;
    width: 100%;
    border-bottom: 1px solid #8d9097;
}
.header-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.header-nav ul li{
    margin-left: 30px;
    float: left;
}
.header-nav ul li:first-child{
    margin-left: 0;
}
.header-nav ul li a{
    font: 13px/47px Arial;
    color: #ffffff;
    background-position: left center;
    padding-left: 20px;
    background-repeat: no-repeat;
}
.header-nav ul li a.account{
    background-image: url("../img/acc.png");
}
.header-nav ul li a.wish{
    background-image: url("../img/wish.png");
}
.header-nav ul li a.shop-cart{
    background-image: url("../img/sho-cart.png");
}
.header-nav ul li a.delivery{
    background-image: url("../img/delivery.png");
}
.header-nav ul li a.log{
    background-image: url("../img/log.png");
}
.header-nav ul li a:hover{
    color: #ca6353;
}
.search-block{
    height: 47px;
    display: block;
    float: left;
    width: 225px;
    position: relative;
    margin-left: 40px;
    overflow: hidden;
}
.search{
    height: 32px;
    border: 1px solid #9299a0;
    outline: none;
    background: transparent;
    padding: 0 30px 0 10px;
    display: block;
    margin-top: 7px;
    float: left;
    color: #ffffff;
    width: 225px;
}
.submit-search{
    background: url("../img/search.png") no-repeat center center;
    width: 35px;
    height: 30px;
    position: absolute;
    border: none;
    outline: none;
    right: 0;
    top: 8px;
}
.search::-webkit-input-placeholder {color: #ffffff;}
.search::-moz-placeholder          {color: #ffffff;}
.search:-moz-placeholder           {color: #ffffff;}
.search:-ms-input-placeholder      {color: #ffffff;}